/*CSS RESET*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

img {
max-width: 100%;
height: auto;
}

[class*=col-], [class^=col] {
padding: 0%;
}


/*GENERAL HELPER CLASSES*/

.no-padding { padding: 0; }

.left         { text-align: left; }

.centered     { text-align: center; }

.flex-centered{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.right{ text-align: right;}

.light-bg    { background-color: #fcfcfc; }
/*.dark-bg     { background-color: rgb(60,60,60); }*/
.feat-bg     { background-color: lightgrey ; }

.hidden-stuff *{
  opacity: 0;
  transition: 3s;

}

.hidden-stuff:hover *{
  opacity: 1;
}

/* universal styles*/

.button  {
  padding: 10px;
  margin: 20px;
}

nav{
  padding: 10px;
  margin: 20px;}

.nav-links a, .button{
  border: 5px solid #3f3f44;
  text-decoration: none;
  color: #3f3f44;
  padding: 1.5% 5%;
  display: inline-block;
  text-align: right;
}

body{
padding-top: 2%;
}

h1, h2, h3, h4, h5, h6{
  color: #3f3f44;
}

p{
  color: #3f3f44;
}

a{
  text-decoration: none;
  color: #3f3f44;
}

a:hover {
  background-color: #ff5851;
  color: #fcfcfc;
  border-color: #fcfcfc;
}

.writer-ctas a:hover {
  background-color: #ff5851;
  color: #fcfcfc;
  border: none;
  transition: 1s;
}
/* ---- Layout ---- */

/* ---- Typography ---- */

h1, h2, h3{
font-family: 'Julius Sans One', sans-serif;
}

p, a{
font-family: 'Work Sans', sans-serif;
}

/*header section*/


.logo img{
  max-width: 20%;
  border: none;
  padding: none;
}

.logo a{
  border: none;

}

.logo a:hover{
  background-color: #fcfcfc;
}


/*featured image section*/

.hello{
background-image: url("../images/hello-background.jpg");
background-size: cover;
width: 50%;
height: 50vh;
font-size: 2.5rem;
justify-content: flex-end;
padding-right: 2%;

}

@media (max-width: 500px) {
  .hello {
    width: 100%;

  }
}


.featured-image {
  text-align: right;
  margin: 12% 5% 0% 5%;
}

section.featured-image h2 {
  letter-spacing: 15px;
}



/*my story section*/

section.my-story {
padding : 12% 15%;
min-height: 70vh;
background-color: #ff5851;

}

@media (max-width: 500px) {
  section.my-story {
    height: 100vh;
  }
}

section.my-story p{
  color: #e2dede
  }

.my-story .my-story-box{
padding: 5%;
background-color: #ff5851;
border: 2px solid #3f3f44;

}

.my-story .my-story-box-border{
  padding: 5%;
}

.my-story .button{
  border: 4px solid #fcfcfc;
  text-decoration: none;
  color: #fcfcfc;
  padding: 1.5% 5%;
}

.my-story .button:hover {
  background-color: #fcfcfc;
  color: #3f3f44;
border: 4px solid #3f3f44;
transition: 1s;
}

.my-story img{
  border-radius: 100%;
}

/*nav options section*/

section.nav-options{
  padding: 8% 15% 10% 15%;
  min-height: 70vh;
}

.nav-options img{

}

.nav-box {
  padding: 10%;
  position: relative;
  height: 95%;
}

.nav-box-content {
  padding: 20px;
}

.nav-box-border {
  position: absolute;
  border: 4px solid #3f3f44;
  top: 30%;
  width: 80%;
  height: 70%;
  z-index: -1;
}

.nav-box-content h2:hover{
  background-color: #ff5851;
  color: #fcfcfc;
  transition: 1s;
}

/*.nav-box-cta{
  border: 5px solid #ff5851;
  background-color: #ff5851;
}*/

h2.nav-box-cta{
  color: #fcfcfc;
}
/*book section*/


section.book {

padding: 2% 15% 10% 15%;
min-height: 65vh;

}

.book img{
max-width: 100%;
border-radius: 100%;
}

.book .book-box{
padding: 5%;
background-color: lightgrey;
}

.book .book-border{
  padding: 5%;
}

/*mosaic section*/



/*footer section*/

footer{
background-color: #ff5851;
padding: 2%;
}

footer i{
color: #fcfcfc;
padding: 3%;
}


footer .footer-icons i:hover{
color: #3f3f44;
}

footer .footer-icons i{
font-size: 2rem;


}

/*writer page*/

.featured-image-general{
background-size: cover;
background-position: center;
width: 50%;
height: 50vh;
font-size: 2.5rem;
justify-content: flex-end;
padding-right: 2%;

}

.featured-image-pages h3{
  text-align: left;
position: relative;
bottom: -7rem;
font-size: 1.5rem;
}

.featured-image-pages {
text-align: right;
padding: 2% 5% 25% 5%;
background-size: cover;
background-position: center;
}

.banner-class{

}
/*pages main text section*/

.main-text-body{
border: 5px solid #3f3f44;
padding: 4%;
}

.main-text-section{
  background-color: #eaeaea;
  padding: 2% 5% 5% 2%;
}

.writer-buttons{
  border: 5px solid #3f3f44;
  padding: 10%;
  background-color: #fcfcfc;
}
.writer-buttons:hover{
  background-color:#ff5851;
  transition: 1s;
  color: #fcfcfc;
}

.funky-buttons{
  background-image: url(../images/bwprint.png);
  background-size: cover;
  padding: 3%;
  border: 5px solid #3f3f44;
}


.writer-ctas{
  background-color: #fcfcfc;
  padding: 6% 28%;
}



/*Poems page*/

.poem-item {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;

  }

.poem-item--height2 { height: 410px; }
.poem-item--height3 { height: 620px; }
.poem-item--height4 { height: 830px; }
.poem-item--height5 { height: 200px; }
.poem-item--height6 { height: 200px; }

.poem-background{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
}

.poem-layout{
  text-align:center;
  margin:auto;
  display:block;
  width:1880px;
}

.poems-text h1{
padding: 10%;
}

.poems-buy-image img{
  margin: 0%, 5%;
}
h3.poem-title{
  background-color:#fcfcfc;
}

@media (max-width: 500px) {
  .purchase-poems {
    width: 100%;
  height: 50%;
  }
}
/*section.buy-book-poems h2 {
  background-color: #63b1d5;
  border: 4px solid #63b1d5;
  padding: 10%;*/


  section.purchase-poems{
    padding: 6% 15% 12% 25%;
    min-height: 70vh;
    background-color: lightgray;
  }

.purchase-box{
border: 4px solid black;
position: relative;
background-color: #fcfcfc;
}

.purchase-box-image{
  position: absolute;
  top: 10%;
  right: -55%;
  max-width: 60%;
  max-height: 100%;
}

  .nav-options img{

  }

  .purchase-box {
    padding: 10%;
  }

  .purchase-box-content {
    padding: 20px;
      position: relative;
      text-align: right;
      right: -7rem;
  }

  .purchase-box-border {
    position: relative;
    border: 4px solid #3f3f44;
}

    /*top: 30%;
    width: 80%;
    height: 70%;
    z-index: -1;
  }*/

  /*.nav-box-cta{
    border: 5px solid #ff5851;
    background-color: #ff5851;
  }*/

  h2.purchase-box-cta{
    color: #fcfcfc;
  }

h2.purchase-title{
  padding: 0% 12% 12% 12%;
}
.
/* grid specific only change if your confident in your code */
.grid{
  display:none;
}


.poem-item-w2x{
  width:410px;
}

.poem-item-h2x{
  height:410px;
}
@media screen and (max-width: 1900px) {
  /* 5 columns for larger screens */
  #portfolio-grid{
    width:1670px;
  }
}

@media screen and (max-width: 1680px) {
  /* 5 columns for larger screens */
  #portfolio-grid{
    width:1250px;
  }
}
@media screen and (max-width: 1280px) {
  /* 5 columns for larger screens */
  #portfolio-grid{
    width:1040px;
  }
}
@media screen and (max-width: 1050px) {
  /* 5 columns for larger screens */
  #portfolio-grid{
    width:850px;
  }
}
@media screen and (max-width: 860px) {

  #portfolio-grid{
    width:630px;
  }
}

@media screen and (max-width: 650px) {

  #portfolio-grid{
    width:410px;
  }

}

@media screen and (max-width: 420px) {

  #portfolio-grid{
    width:210px;
  }

}

@media screen and (max-width: 430px) {

  #portfolio-grid{
    width:200px;
  }
  .grid{width:200px;
  height:200px;}
}


/*marketer page*/

/*marketing skills*/

section.marketing-skills{
  padding: 6% 15% 10% 15%;
  min-height: 70vh;
}

.nav-options img{

}

.marketing-skills-box {
  padding: 10%;
  position: relative;
}

.marketing-skills-content {
  padding: 20px;
}

.marketing-skills-border {
  position: absolute;
  border: 4px solid #ff5851;
  top: 30%;
  width: 80%;
  height: 80%;
  z-index: -1;
  background-color: #ff5851;
}

.marketing-skills-box h2{
  padding: 5% 10% 5% 10% ;
  color: #fcfcfc;
}

.marketing-skills-box i{
  padding: 10% 10% 5% 10%;
    font-size: 5rem;
}

 .marketing-skills .big-icon i{
  font-size: 5rem;
  display: inline-block;
}

/*.nav-box-cta{
  border: 5px solid #ff5851;
  background-color: #ff5851;
}*/

h2.nav-box-cta{
  color: #fcfcfc;
}




/*company logo section*/

.company-logos-section{

}
.company-logos-section img{
  max-height: 100px;
}

.history-title{
  padding: 5% 8% 14% 8%;
  font-size: 1.5rem;

}

.company-logos-grid{
padding: 0% 8% 10% 8%;
}


/*  my story about section*/


section.story-about{
  padding: 12% 15% 12% 25%;
  min-height: 70vh;
  background-color: lightgray;
}

.purchase-box{
border: 4px solid black;
position: relative;
background-color: #fcfcfc;
}

.about-box-image{
  position: absolute;
  top: 15%;
  right: -65%;
  max-width: 80%;
  max-height: 100%;
}


.about-box {
  padding: 10%;
  border: 4px solid black;
position: relative;
background-color: #fcfcfc;
}
}

.purchase-box-content {
  padding: 20px;
    position: relative;
    text-align: right;
    right: -7rem;
}

.purchase-box-border {
  position: relative;
  border: 4px solid #3f3f44;
}

section.contact-section{
padding: 10%;
}



.contact-form{
  max-width: 500px;
  border: 5px solid black;
  padding: 10%;
  background: #fcfcfc;
  margin: 10px auto;
  font-family: inherit;
}

.contact-section h1{
  padding: 3%

}

.contact-form {
background-image: url("../images/bwprint.png");
}

input{
  padding: 3%;
  margin: 2%;
}

textarea{
  padding: 3%;
  margin: 2%;
}

legend{
  padding: 3%;
  margin: 2%;
}

#job{
padding: 2%;
}

fieldset{
padding:5%;
}

form{
  background-color: #fcfcfc;
}
