---
layout: default
---

<!-- featured image section  -->

<section class="featured-image-pages grid col-12" style= "background-image: url('../images/sadness-and-short-bliss.png');">
  <div class="col-4">
    <h3>
      {{page.featured-image-text}}
    </h3>
  </div>

  <!-- set background image in css-->

</div>

</section>

<section class="grid main-text-section">
 <div class="col-6 main-text ">
        <h1 class= "left">{{page.title}}</h1>
        <h3>{{page.subtitle}}</h3>
        <div class="main-text-body">
          <p class= "left">{{page.page-descriptions}}</p>
        </div>
  </div>
</section>

{{content}}
